@import "../../variables.scss";

.logoIntroContainer {
  background-color: $PrimaryWhite;
  width: 100%;
  height: 100%;
  position: fixed;
  // pointer-events: none;
  top: 0;
  left: 0;
  // z-index: 0;

  // 這一段動畫應該沒有用到
  &.componentChangeCSSTransition-enter {
    opacity: 0;
  }
  &.componentChangeCSSTransition-enter.componentChangeCSSTransition-enter-active {
    opacity: 1;
    transition: all 2s $PrimaryTimeFunction 0s;
  }
  &.componentChangeCSSTransition-exit {
    background-color: transparent;
    pointer-events: none;
  }
  &.componentChangeCSSTransition-exit.componentChangeCSSTransition-exit-active {
    opacity: 0;
    transition: all 0.6s $PrimaryTimeFunction;
  }

  // 進出此頁(品牌介紹)的動畫
  &.componentChangeCSSTransition-enter {
    opacity: 0;
    // 上半部文字
    .upperText {
      opacity: 0;
      transform: translate(0, 70%);
    }
    // 中段圖片
    .bottomCirclesPositioner {
      opacity: 0;
      transform: translate(0, 30%);
    }
    // 底部menu列
    .pager {
      opacity: 0;
      transform: translate(-50%, 100%);
    }
  }
  &.componentChangeCSSTransition-enter.componentChangeCSSTransition-enter-active {
    opacity: 1;
    transition: all 2s $PrimaryTimeFunction 0s;
    // 上半部文字
    .upperText {
      opacity: 1;
      transform: translate(0, 0);
      transition: all 2s $PrimaryTimeFunction 0.5s;
    }
    // 中段圖片
    .bottomCirclesPositioner {
      opacity: 1;
      transform: translate(0, 0);
      transition: all 2s $PrimaryTimeFunction 0.7s;
    }
    // 底部menu列
    .pager {
      opacity: 1;
      transform: translate(-50%, 0);
      transition: all 2s $PrimaryTimeFunction 1.3s;
    }
  }
  &.componentChangeCSSTransition-exit {
    background-color: transparent;
    pointer-events: none;
  }
  &.componentChangeCSSTransition-exit.componentChangeCSSTransition-exit-active {
    opacity: 0;
    transition: all 0.6s $PrimaryTimeFunction;
  }

  // CSS Transition總容器
  .CSSTransitionContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    // CSS Transition內各個項目
    .logoInstruction {
      background-size: cover;
      background-position: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding-top: 10vh;
      z-index: 10;
      pointer-events: auto;

      opacity: 1;
      transition: all 0.5s $PrimaryTimeFunction 0s;
      // pointer-events: none;

      // 在此等於hidden，因為要做動畫所以棄用display
      &.noDisplay {
        // display: none;
        opacity: 0;
        transition: all 0.5s $PrimaryTimeFunction 0s;
        pointer-events: none;
      }

      // 品牌介紹第一頁
      &.logoInstruction1 {
        width: 100%;
        height: 100%;
        position: absolute;
        .innerContainer {
          height: 100%;
          width: 100%;
          position: relative;
          padding: 0 5.5vw 50px 5.5vw;
          // 上半部的文字
          .upperText {
            width: 100%;
            height: 30%;
            img {
              max-height: 100%;
              max-width: 100%;
            }
          }
          // 下半側圓圈們的定位器
          .bottomCirclesPositioner {
            width: 100%;
            height: 65%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            // 圓圈們的容器
            .bottomCirclesContainer {
              position: relative;
              // 中心骨架圓圈
              .mainCenterImg {
                width: 20rem;
              }
              // 旁邊的小圓圈(點擊後會被覆蓋的)
              .childCircles {
                position: absolute;
                // z-index: 3000;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                img {
                  position: absolute;
                  width: 100px;
                  &:nth-child(1) {
                    top: -11%;
                    left: 35%;
                  }
                  &:nth-child(2) {
                    top: 19%;
                    left: 77%;
                  }
                  &:nth-child(3) {
                    top: 70%;
                    left: 63%;
                  }
                  &:nth-child(4) {
                    top: 70%;
                    left: 8%;
                  }
                  &:nth-child(5) {
                    top: 19%;
                    left: -6%;
                  }
                }
              }
              .childCirclesCover {
                position: absolute;
                // z-index: 0;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                pointer-events: none;
                img {
                  position: absolute;
                  width: 100px;
                  // 隱藏背景，顯現此覆蓋圖
                  opacity: 1;
                  transition: all 0.2s ease;
                  transform: scale(1);
                  &:nth-child(1) {
                    top: -11%;
                    left: 35%;
                  }
                  &:nth-child(2) {
                    top: 19%;
                    left: 77%;
                  }
                  &:nth-child(3) {
                    top: 70%;
                    left: 63%;
                  }
                  &:nth-child(4) {
                    top: 70%;
                    left: 8%;
                  }
                  &:nth-child(5) {
                    top: 19%;
                    left: -6%;
                  }
                  // 顯現背景，隱藏此覆蓋圖
                  &.hidden {
                    opacity: 0;
                    transition: all 0.2s ease;
                    transform: scale(0);

                  }
                }
              }
            }
          }
        }
      }

      // 品牌介紹第二頁
      &.logoInstruction2 {
        .innerContainer {
          height: 100%;
          width: 100%;
          position: relative;
          padding: 0 5.5vw 50px 5.5vw;
          // 頂部文字
          .upperTextContainer {
            width: 100%;
            height: 15%;
            img {
              max-height: 100%;
              max-width: 100%;
            }
          }

          // 中間地圖
          .middleMapPositioner {
            width: 100%;
            // height: 60%;
            display: flex;
            justify-content: center;
            align-items: center;
            .middleMapGroup {
              width: 408px;
              height: 335px;
              // width: 700px;
              // height: 335px;
              position: relative;
              // 中國地圖
              .chinaMap {
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
              }

              // 地圖上的覆蓋區域
              // cover是通用屬性
              .cover {
                position: absolute;
                top: 0;
                left: 0;

                // hidden代表非選種狀態，即不顯示，不覆蓋背景地圖
                &.hidden {
                  opacity: 0;
                }
              }
              .name {
                top: 15%;
                left: 47%;
                height: 82%;
              }
              .Center {
                top: 53.3%;
                left: 61%;
                height: 28.5%;
              }
              .East {
                top: 51.3%;
                left: 76%;
                height: 21.5%;
              }
              .EastNorth {
                top: 0.3%;
                left: 77.9%;
                height: 39.8%;
              }
              .North {
                top: 30.9%;
                left: 64%;
                height: 31%;
              }
              .South {
                top: 71%;
                left: 53.5%;
                height: 28.8%;
              }
              .West {
                top: 30.8%;
                left: 33%;
                height: 61%;
              }
            }
          }

          // 螢幕底部六個按鈕
          .bottomButtonContainer {
            width: 100%;
            height: 25%;
            margin: 4vh 0;
            // 上半部三個按鈕
            .upper {
              .button {
                height: 100%;
              }
              text-align: start;
              padding-left: 10%;
              height: 50%;
            }
            // 下半部三個按鈕
            .bottom {
              .button {
                height: 100%;
              }
              text-align: end;
              padding-right: 10%;
              height: 50%;
            }

            // 假的wrapper，這次button區，要使用漂亮的button，把fake外框拿掉
            .fake {
              // colors
              $color-one: #2c3e50;
              $btn-colors: (
                "green": "#2ecc71",
                "blue": "#3498db",
                "purple": "#9b59b6",
                "navy": "#34495e",
                "orange": "#e67e22",
                "red": "#e74c3c"
              );
              // extenders
              .animate {
                transition: all 0.3s;
              }
              /* Main Styles */
              .main-container {
                width: 100%;
                max-width: 750px;
                margin: 0 auto;
                padding: 0 15px;
              }
              h1 {
                line-height: 1;
                padding: 25px 0;
                border-bottom: 1px solid $color-one;
                font-size: 35px;
                color: $color-one;
                text-align: center;
              }
              section {
                padding: 60px 0 61px;
                text-align: center;
                position: relative;

                h2 {
                  margin-bottom: 15px;
                  font-weight: normal;
                  font-size: 17px;
                  color: #d2d2d2;
                  text-align: center;
                }

                &:not(:last-child):after {
                  content: "";
                  width: 70%;
                  height: 1px;
                  border-bottom: 1px dashed $color-one;
                  opacity: 0.5;
                  position: absolute;
                  bottom: -1px;
                  left: 15%;
                }
              }
              .btn {
                display: inline-block;
                line-height: 35px;
                margin: 8px;
                padding: 0 15px;
                font-size: 15px;
                position: relative;
                opacity: 0.999;
                border-radius: 3px;
                @extend .animate;
              }
              .btn-border-o {
                background-color: transparent;
                border: 1px solid #d0d0d0;
                color: #b8b8b8;

                &:before,
                &:after {
                  content: "";
                  border-style: solid;
                  position: absolute;
                  z-index: 5;
                  border-radius: 3px;
                  box-sizing: content-box;
                  @extend .animate;
                }

                &:before {
                  width: 0;
                  height: 100%;
                  border-width: 1px 0 1px 0;
                  top: -1px;
                  left: 0;
                  transition-delay: 0.05s;
                }

                &:after {
                  width: 100%;
                  height: 0;
                  border-width: 0 1px 0 1px;
                  top: 0;
                  left: -1px;
                }

                &:hover {
                  &:before {
                    width: 100%;
                  }

                  &:after {
                    height: 100%;
                  }
                }

                @each $name, $hex in $btn-colors {
                  &.btn-#{$name} {
                    &:before,
                    &:after {
                      border-color: #{$hex};
                    }

                    &:hover {
                      color: #{$hex};
                    }
                  }
                }
              }
              .btn-border {
                background-color: #e5e5e5;
                border: 1px solid #e5e5e5;
                color: #a6a6a6;

                &:before,
                &:after {
                  content: "";
                  border-style: solid;
                  position: absolute;
                  z-index: 5;
                  border-radius: 3px;
                  box-sizing: content-box;
                  @extend .animate;
                }

                &:before {
                  width: 0;
                  height: 100%;
                  border-width: 1px 0 1px 0;
                  top: -1px;
                  left: 0;
                  transition-delay: 0.05s;
                }

                &:after {
                  width: 100%;
                  height: 0;
                  border-width: 0 1px 0 1px;
                  top: 0;
                  left: -1px;
                }

                &:hover {
                  background-color: transparent;

                  &:before {
                    width: 100%;
                  }

                  &:after {
                    height: 100%;
                  }
                }

                @each $name, $hex in $btn-colors {
                  &.btn-#{$name} {
                    &:before,
                    &:after {
                      border-color: #{$hex};
                    }

                    &:hover {
                      color: #{$hex};
                    }
                  }
                }
              }
              .btn-border-rev-o {
                background-color: transparent;
                border: 1px solid #d0d0d0;
                color: #b8b8b8;

                &:before,
                &:after {
                  content: "";
                  border-style: solid;
                  position: absolute;
                  z-index: 5;
                  border-radius: 3px;
                  box-sizing: content-box;
                  @extend .animate;
                }

                &:before {
                  width: 0;
                  height: 100%;
                  border-width: 1px 0 1px 0;
                  top: -1px;
                  right: 0;
                  transition-delay: 0.05s;
                }

                &:after {
                  width: 100%;
                  height: 0;
                  border-width: 0 1px 0 1px;
                  bottom: 0;
                  left: -1px;
                }

                &:hover {
                  &:before {
                    width: 100%;
                  }

                  &:after {
                    height: 100%;
                  }
                }

                @each $name, $hex in $btn-colors {
                  &.btn-#{$name} {
                    &:before,
                    &:after {
                      border-color: #{$hex};
                    }

                    &:hover {
                      color: #{$hex};
                    }
                  }
                }
              }
              .btn-border-rev {
                background-color: #e5e5e5;
                border: 1px solid #e5e5e5;
                color: #a6a6a6;

                &:before,
                &:after {
                  content: "";
                  border-style: solid;
                  position: absolute;
                  z-index: 5;
                  border-radius: 3px;
                  box-sizing: content-box;
                  @extend .animate;
                }

                &:before {
                  width: 0;
                  height: 100%;
                  border-width: 1px 0 1px 0;
                  top: -1px;
                  right: 0;
                }

                &:after {
                  width: 100%;
                  height: 0;
                  border-width: 0 1px 0 1px;
                  bottom: 0;
                  left: -1px;
                  transition-delay: 0.05s;
                }

                &:hover {
                  background-color: transparent;

                  &:before {
                    width: 100%;
                  }

                  &:after {
                    height: 100%;
                  }
                }

                @each $name, $hex in $btn-colors {
                  &.btn-#{$name} {
                    &:before,
                    &:after {
                      border-color: #{$hex};
                    }

                    &:hover {
                      color: #{$hex};
                    }
                  }
                }
              }
              .btn-fill-vert-o {
                background-color: transparent;
                border: 1px solid #d0d0d0;
                color: #b8b8b8;
                overflow: hidden;

                &:before,
                &:after {
                  content: "";
                  width: 100%;
                  height: 0;
                  opacity: 0;
                  position: absolute;
                  left: 0;
                  z-index: -1;
                  @extend .animate;
                }

                &:before {
                  top: 50%;
                }

                &:after {
                  bottom: 50%;
                }

                &:hover {
                  color: #fff;

                  &:before,
                  &:after {
                    height: 50%;
                    opacity: 1;
                  }
                }

                @each $name, $hex in $btn-colors {
                  &.btn-#{$name} {
                    &:before,
                    &:after {
                      background-color: #{$hex};
                    }

                    &:hover {
                      border-color: #{$hex};
                    }
                  }
                }
              }
              .btn-fill-vert {
                background-color: #e5e5e5;
                border: 1px solid #e5e5e5;
                color: #a6a6a6;
                overflow: hidden;

                &:before,
                &:after {
                  content: "";
                  width: 100%;
                  height: 0;
                  opacity: 0;
                  position: absolute;
                  left: 0;
                  z-index: -1;
                  @extend .animate;
                }

                &:before {
                  top: 50%;
                }

                &:after {
                  bottom: 50%;
                }

                &:hover {
                  color: #fff;

                  &:before,
                  &:after {
                    height: 50%;
                    opacity: 1;
                  }
                }

                @each $name, $hex in $btn-colors {
                  &.btn-#{$name} {
                    &:before,
                    &:after {
                      background-color: #{$hex};
                    }

                    &:hover {
                      border-color: #{$hex};
                    }
                  }
                }
              }
              .btn-fill-horz-o {
                background-color: transparent;
                border: 1px solid #d0d0d0;
                color: #b8b8b8;
                overflow: hidden;

                &:before,
                &:after {
                  content: "";
                  width: 0;
                  height: 100%;
                  opacity: 0;
                  position: absolute;
                  top: 0;
                  z-index: -1;
                  @extend .animate;
                }

                &:before {
                  left: 50%;
                }

                &:after {
                  right: 50%;
                }

                &:hover {
                  color: #fff;

                  &:before,
                  &:after {
                    width: 50%;
                    opacity: 1;
                  }
                }

                @each $name, $hex in $btn-colors {
                  &.btn-#{$name} {
                    &:before,
                    &:after {
                      background-color: #{$hex};
                    }

                    &:hover {
                      border-color: #{$hex};
                    }
                  }
                }
              }
              .btn-fill-horz {
                background-color: #e5e5e5;
                border: 1px solid #e5e5e5;
                color: #a6a6a6;
                overflow: hidden;

                &:before,
                &:after {
                  content: "";
                  width: 0;
                  height: 100%;
                  opacity: 0;
                  position: absolute;
                  top: 0;
                  z-index: -1;
                  @extend .animate;
                }

                &:before {
                  left: 50%;
                }

                &:after {
                  right: 50%;
                }

                &:hover {
                  color: #fff;

                  &:before,
                  &:after {
                    width: 50%;
                    opacity: 1;
                  }
                }

                @each $name, $hex in $btn-colors {
                  &.btn-#{$name} {
                    &:before,
                    &:after {
                      background-color: #{$hex};
                    }

                    &:hover {
                      border-color: #{$hex};
                    }
                  }
                }
              }
            }
          }
        }
      }

      // 品牌介紹第三頁
      &.logoInstruction3 {
        height: 100%;
        width: 100%;
        .innerContainer {
          height: 100%;
          width: 100%;
          position: relative;
          padding: 0 5.5vw 50px 5.5vw;

          // 頂部文字
          .upperTextContainer {
            height: 15%;
            img {
              max-height: 100%;
              max-width: 100%;
            }
          }
          // 中間地圖
          .middleMapPositioner {
            display: flex;
            justify-content: center;
            align-items: center;
            .middleMapContainer {
              // height: 60%;
              height: 275px;
              width: 362px;
              display: flex;
              justify-content: center;
              align-items: center;
              position: relative;
              // 背景圖
              .bg {
                width: 100%;
                height: 100%;
              }
              // 黃點
              .yellowPoint {
                position: absolute;
                top: 49%;
                left: 60%;
                height: 15px;
                width: 15px;
                border-radius: 50%;
                // -webkit-box-shadow: 水平偏移 垂直偏移 最濃半徑 模糊半徑 rgb(255, 255, 255);
                -webkit-box-shadow: 0px 0px 5px 6px rgb(255, 255, 255);
                -moz-box-shadow: 0px 0px 5px 6px rgb(255, 255, 255);
                box-shadow: 0px 0px 5px 6px rgb(255, 255, 255);
                background-color: rgb(248, 192, 36);
              }
              // 地名
              .name {
                position: absolute;
                height: 78%;
                top: 17%;
                left: 17%;
              }
              // 虛線圓圈
              .circle {
                position: absolute;
                border: 3px dashed rgb(248, 192, 36);
                width: 116px;
                height: 116px;
                border-radius: 50%;
                top: 31%;
                left: 45%;
              }
              // 大圓文字
              .bigCircleTextContainer {
                width: 116px;
                height: 116px;
                position: absolute;
                top: 31%;
                left: 45%;
                z-index: 110;
                padding: 13px;
                svg {
                  overflow: visible;
                  // width: 116px;
                  // height: 116px;
                  transform: rotate(30deg);
                  path {
                    fill: none;
                  }
                  textPath {
                    // transform: rotate(180deg);
                    transform: scale(+1, -1);
                    // transform:scaleY(-1);
                    font-size: 0.7rem;
                    font-weight: 700;
                    font-family: "Noto Sans TC", sans-serif;
                  }
                }
              }
            }
          }

          // 螢幕底部三個按鈕
          .bottomButtonContainer {
            position: relative;
            height: 25%;
            .logo {
              height: 25%;
              display: flex;
              align-items: center;
              img {
                height: 50%;
              }
            }
            .button {
              height: 25%;
              .name {
                height: 90%;
              }
              // 點按鈕顯現的圖片
              .detailContainer {
                position: absolute;
                top: 10%;
                height: 100%;
                width: 55%;
                left: 45%;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                  max-height: 100%;
                  max-width: 100%;
                }
              }
            }
          }
        }
      }

      // 品牌介紹第四頁
      &.logoInstruction4 {
        height: 100%;
        width: 100%;
        .innerContainer {
          height: 100%;
          width: 100%;
          position: relative;
          padding: 0 5.5vw 50px 5.5vw;
          display: flex;
          justify-content: center;
          img {
            max-width: 100%;
            max-height: 100%;
          }
        }
      }
    }
  }

  .bgImg {
    &.changeBgImgTransition-enter {
      opacity: 0;
    }
    &.changeBgImgTransition-enter-active {
      opacity: 1;
      transition: all 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    &.changeBgImgTransition-enter-done {
      //未設定的話，會同enter-active
    }
    &.changeBgImgTransition-exit {
      pointer-events: none;
      opacity: 1;
    }
    &.changeBgImgTransition-exit-active {
      opacity: 0;
      transition: all 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
  }

  .bgImgPreload {
    border: 3px solid red;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    &.noDisplay {
      display: none;
    }
  }

  #boardCanvas {
    position: absolute;
    z-index: 13;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
  }

  .pager {
    // background-image: linear-gradient(to left, #404749, transparent);
    position: absolute;
    width: 100%;
    max-width: 400px;
    height: 50px;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 15;
    padding-top: 10px;
    ul {
      // border: 1px solid white;
      height: 100%;
      width: 100%;
      li {
        // border: 1px solid green;
        width: 25%;
        height: 100%;
        display: inline-block;
        padding: 0%;

        &.active {
          .pageNumberContainer {
            .number {
              opacity: 1;
              font-size: 3.5rem;
              // transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
              transition: all 1s cubic-bezier(0.02, 0.95, 0.17, 1);
            }
          }
          .pageName {
            .text {
              opacity: 1;
              transition: all 1s cubic-bezier(0.02, 0.95, 0.17, 1);
            }
          }
          .pageIndicator {
            &::after {
              opacity: 1;
              transition: all 1s cubic-bezier(0.02, 0.95, 0.17, 1);
            }
          }
        }

        // notActive
        .pageNumberContainer {
          // border: 1px solid blue;
          width: 65%;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          .number {
            // transform: scale(0.9, 0.9);
            opacity: 0.6;
            // color: $PrimaryRed;
            color: $PrimaryBlack;
            font-size: 1.5rem;
            transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
            // font-weight: 800;
          }
        }
        // 文字
        .pageName {
          // border: 1px solid blue;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center; //水平
          .text {
            // border: 1px solid white;
            font-weight: bold;
            font-size: 1rem;
            opacity: 0.6;
            font-family: "Noto Sans TC", sans-serif;
            color: $PrimaryBlack;
            // writing-mode: vertical-rl; //將整行文字垂直書寫
            text-orientation: mixed;
            transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
          }
        }
        // 指示
        .pageIndicator {
          // border: 1px solid blue;
          width: 100%;
          height: 30%;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          &::after {
            content: "";
            position: relative;
            display: block;
            // background-color: darken( $PrimaryBlack, 40%);
            background-color: $PrimaryBlack;
            opacity: 0.3;
            height: 30%;
            width: 90%;
            transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
          }
        }
      }
    }
  }
}
