@import '../../variables.scss';

.TrafficThreeContainer {
    border: 1px solid red;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $PrimaryWhite;
}