@import "../../variables.scss";

.JghxPannellumContainer {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $PrimaryWhite;
  &.componentChangeCSSTransition-enter {
    opacity: 0;
  }
  &.componentChangeCSSTransition-enter.componentChangeCSSTransition-enter-active {
    opacity: 1;
    transition: all 2s $PrimaryTimeFunction 0s;
  }
  &.componentChangeCSSTransition-exit {
    background-color: transparent;
    pointer-events: none;
  }
  &.componentChangeCSSTransition-exit.componentChangeCSSTransition-exit-active {
    opacity: 0;
    transition: all 0.6s $PrimaryTimeFunction;
  }

  .button1 {
    position: fixed;
    top: 150px;
    left: 150px;
    width: 80px;
    height: 80px;
    z-index: 100001;
  }

  // 全景圖
  .panorama {
    // 圖中按鈕hotspot
    .circleSceneHotspot1 {
      width: 70px;
      height: 50px;
      // background-color: red;
      background-image: url("../../images/Jghx/Pannellum/DoubleFrontArrow.png");
      background-size: contain;
      background-repeat: no-repeat;
      // hotspot上的文字方塊
      &.custom-tooltip {
        span {
          visibility: visible;
          position: absolute;
          border-radius: 3px;
          background-color: rgba(0, 0, 0, 0.5);
          color: #fff;
          text-align: center;
          max-height: 1rem;
          max-width: 200px;
          padding: 5px 10px;
          margin-left: -220px;
          cursor: default;
          // 文字方塊下的小箭頭
          // &:after {
          //   content: '';
          //   position: absolute;
          //   width: 0;
          //   height: 0;
          //   border-width: 10px;
          //   border-style: solid;
          //   border-color: #fff transparent transparent transparent;
          //   bottom: -20px;
          //   left: -10px;
          //   margin: 0 50%;
          // }
        }
      }
    }
  }

  // 小地圖
  .smallMapContainer {
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid #000;
    position: absolute;
    width: 27%;
    height: 21%;
    top: 10%;
    right: 4%;
    .imgContainer {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .pointContainer {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      .point {
        width: 15px;
        height: 15px;
        border: 2px solid white;
        border-radius: 50%;
        display: inline-block;
        background-color: rgba(255, 0, 0, 0.6);
        position: absolute;
        z-index: 300;

        // 隱藏紅點
        &.noDisplay {
          display: none;
        }

        // 一樓紅點*4
        &.LivingRoom {
          top: 36%;
          left: 26%;
          transform: translate(-50%, -50%);
        }
        &.FirstFloorBathRoom {
          top: 18%;
          left: 75%;
          transform: translate(-50%, -50%);
        }
        &.DiningRoom {
          top: 58%;
          left: 76%;
          transform: translate(-50%, -50%);
        }
        &.Kitchen {
          top: 81%;
          left: 76%;
          transform: translate(-50%, -50%);
        }

        // 二樓紅點*4
        &.SecondFloorSecondBedRoom {
          top: 36%;
          left: 26%;
          transform: translate(-50%, -50%);
        }
        &.SecondFloorMainBathRoom {
          top: 81%;
          left: 76%;
          transform: translate(-50%, -50%);

        }
        &.SecondFloorSecondBathRoom {
          top: 18%;
          left: 75%;
          transform: translate(-50%, -50%);
        }
        &.SecondFloorMainBedRoom {
          top: 58%;
          left: 76%;
          transform: translate(-50%, -50%);
        }
        
        // 三樓紅點*4
        &.ThirdFloorBathRoom {
          top: 12%;
          left: 64%;
          transform: translate(-50%, -50%);
        }
        &.ThirdFloorMainBedRoom {
          top: 36%;
          left: 26%;
          transform: translate(-50%, -50%);

        }
        &.ThirdFloorStudy {
          top: 81%;
          left: 76%;
          transform: translate(-50%, -50%);
        }
        &.ThridFloorCloadRoom {
          top: 32%;
          left: 64%;
          transform: translate(-50%, -50%);
        }
      }

      .pointDirection {
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border-top: 25px solid rgba(255, 0, 0, 0.6);
        border-right: 25px solid rgba(0, 0, 0, 0);
        border-left: 25px solid rgba(0, 0, 0, 0);
        border-bottom: 25px solid rgba(0, 0, 0, 0);
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        z-index: 299;
        &.InHousePano1 {
          top: 35%;
          left: 25%;
          transform: translate(-50%, -50%);
        }
        &.InHousePano2 {
          top: 45%;
          left: 60%;
          transform: translate(-50%, -50%);
        }
        &.A5_chufang {
          top: 16%;
          left: 68%;
          transform: translate(-50%, -50%);
        }
                // 一樓紅點*4
                &.LivingRoom {
                  top: 36%;
                  left: 26%;
                  transform: translate(-50%, -50%);
                }
                &.FirstFloorBathRoom {
                  top: 18%;
                  left: 75%;
                  transform: translate(-50%, -50%);
                }
                &.DiningRoom {
                  top: 58%;
                  left: 76%;
                  transform: translate(-50%, -50%);
                }
                &.Kitchen {
                  top: 81%;
                  left: 76%;
                  transform: translate(-50%, -50%);
                }
        
                // 二樓紅點*4
                &.SecondFloorSecondBedRoom {
                  top: 36%;
                  left: 26%;
                  transform: translate(-50%, -50%);
                }
                &.SecondFloorMainBathRoom {
                  top: 81%;
                  left: 76%;
                  transform: translate(-50%, -50%);
        
                }
                &.SecondFloorSecondBathRoom {
                  top: 18%;
                  left: 75%;
                  transform: translate(-50%, -50%);
                }
                &.SecondFloorMainBedRoom {
                  top: 58%;
                  left: 76%;
                  transform: translate(-50%, -50%);
                }
                
                // 三樓紅點*4
                &.ThirdFloorBathRoom {
                  top: 12%;
                  left: 64%;
                  transform: translate(-50%, -50%);
                }
                &.ThirdFloorMainBedRoom {
                  top: 36%;
                  left: 26%;
                  transform: translate(-50%, -50%);
        
                }
                &.ThirdFloorStudy {
                  top: 81%;
                  left: 76%;
                  transform: translate(-50%, -50%);
                }
                &.ThridFloorCloadRoom {
                  top: 32%;
                  left: 64%;
                  transform: translate(-50%, -50%);
                }
      }
    }
  }

  // 樓層按鈕
  .floorMenuContainer {
    position: absolute;
    top: 40%;
    right: 4%;
    height: 180px;
    width: 60px;
    transition: all 1.2s $PrimaryTimeFunction;
    .hidden {
      opacity: 0;
      pointer-events: none;
      transition: all 1.2s $PrimaryTimeFunction;
    }
    .iconContainer {
      width: 100%;
      border-radius: 20%;
      height: 30%;
      margin: 3px;
      img {
        position: absolute;
        margin: 3%;
        max-width: 90%;
        max-height: 90%;
      }
    }
  }

  // 返回鈕
  .backButtonContainer {
    position: absolute;
    bottom: 9%;
    right: 0;
    height: 7%;
    .backToMountainMoonButtonLink {
      width: 100%;
      height: 100%;
      .backToMountainMoonButton {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
}
