@import '../../variables.scss';

.fullScreenPannellumSampleRoom {
    background-color: black;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 1101;
    transform: translate(0, -100%);
    transition: $NavigationBarTransition 0.2s; //transition:property duration timing-function delay;
    pointer-events: none;
    .pnlm-container {
        opacity: 0;
        transition: $NavigationBarTransition 0.2s; //transition:property duration timing-function delay;
    }
    &.active {
        pointer-events: auto;
        transform: translate(0, 0);
        transition: $NavigationBarTransition 0.2s; //transition:property duration timing-function delay;
        .pnlm-container {
            opacity: 1;
        }
        .closeContainer {
            transform: translate(-50%, 0);
            transition: $NavigationBarTransition 1s; //transition:property duration timing-function delay;
        }
    }
    .closeContainer {
        position: absolute;
        top: 3%;
        left: 50%;
        transform: translate(-50%, -200%);
        transition: transform 0.6s cubic-bezier(0.125, 0.595, 0.315, 0.970) 1s; //transition:property duration timing-function delay;
        font-family: 'Raleway', sans-serif;
        font-weight: 900;
        font-size: 2rem;
        z-index: 1102;
    }
  }