@import "../../variables.scss";

.TrafficContainer {
  &.componentChangeCSSTransition-enter {
    opacity: 0;
  }
  &.componentChangeCSSTransition-enter.componentChangeCSSTransition-enter-active {
    opacity: 1;
    transition: all 2s $PrimaryTimeFunction 0s;
  }
  &.componentChangeCSSTransition-exit {
    background-color: transparent;
    pointer-events: none;
  }
  &.componentChangeCSSTransition-exit.componentChangeCSSTransition-exit-active {
    opacity: 0;
    transition: all 0.6s $PrimaryTimeFunction;
  }
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $PrimaryWhite;

  .noDisplay {
    display: none;
  }

  .changeBgImgTransition-enter {
    opacity: 0;
  }
  .changeBgImgTransition-enter-active {
    opacity: 1;
    transition: all 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .changeBgImgTransition-enter-done {
    //未設定的話，會同enter-active
  }
  .changeBgImgTransition-exit {
    pointer-events: none;
    opacity: 1;
  }
  .changeBgImgTransition-exit-active {
    opacity: 0;
    transition: all 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  // 頁面主要內容(共三個分頁)
  .traffic {
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    overflow-x: scroll;

    &.noDisplay {
      display: none;
    }
    // 第一個分頁 (依照右側menu決定)
    &.traffic1 {
      width: 100%;
      height: 100%;
      position: absolute;

      // 圖片與icon的基準 (bg高度100%，其餘icon定位用vh，大小用height%)
      .container {
        width: 100%;
        height: 100%;
        // display: flex;
        // justify-content: center;  //水平置中
        img {
          // position: absolute;
          // left: 0;
          // top: 0;
          // max-height: 100%;
        }
        .bg {
          height: 100%;
        }
        .icon {
          position: absolute;
        }
        .SanFrancisco {
          top: 34vh;
          left: 59.5vh;
          height: 6%;
        }
        .Tokyo {
          top: 38vh;
          left: 53.5vh;
          height: 6%;
        }
        .HongKong {
          top: 47vh;
          left: 49vh;
          height: 20%;
        }
        .Point {
          top: 46vh;
          left: 48vh;
          height: 2%;
        }
      }
    }

    // 第二個分頁 (依照右側menu決定)
    &.traffic2 {
      width: 100%;
      height: 100%;
      position: absolute;
      .innerContainer {
        border: 1px solid yellow;
        position: relative;
        top: 0;
        left: 0;
        // left: -34vh;
        display: inline-block;
        height: 100%;
        width: 100%;
        // transform: translate(-30%, 0);

        // 背景
        .bg {
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 100;
        }
        // 大圓
        .bigLakeAreaStroke {
          height: 80vh;
          width: 80vh;
          border-radius: 50%;
          border: 3px dotted rgb(255, 164, 79);
          position: absolute;
          top: 15vh;
          left: 9vh;
          z-index: 110;
        }
        // 小圓
        .oneHourAreaStroke {
          height: 60vh;
          width: 60vh;
          border-radius: 50%;
          border: 3px solid rgb(255, 229, 79);
          position: absolute;
          top: 25vh;
          left: 19vh;
          z-index: 110;
          // background-color: rgba(255, 255, 255, 0.2);
        }
        // 大圓文字
        .bigCircleTextContainer {
          height: 80vh;
          width: 80vh;
          position: absolute;
          top: 15vh;
          left: 9vh;
          z-index: 110;
          padding: 4vh;
          svg {
            overflow: visible;
            transform: rotate(72deg);
            path {
              fill: none;
            }
            textPath {
              font-size: 0.3rem;
              font-weight: 700;
              font-family: "Noto Sans TC", sans-serif;
            }
          }
        }
        // 小圓文字
        .smallCircleTextContainer {
          height: 60vh;
          width: 60vh;
          position: absolute;
          top: 25vh;
          left: 19vh;
          z-index: 110;
          padding: 4vh;
          svg {
            overflow: visible;
            transform: rotate(74deg);
            path {
              fill: none;
            }
            textPath {
              font-size: 0.3rem;
              font-weight: 700;
              font-family: "Noto Sans TC", sans-serif;
            }
          }
        }
        .DongGuang {
          position: absolute;
          top: 31vh;
          left: 40.5vh;
          height: 27%;
          z-index: 105;
        }
        .MainArea {
          position: absolute;
          top: 43vh;
          left: 69vh;
          height: 7.5%;
          z-index: 106;
        }
        .Railway {
          position: absolute;
          top: -3vh;
          left: 58vh;
          height: 64.5%;
          z-index: 106;
        }
        .dot {
          &.dot1 {
            position: absolute;
            top: 40.5vh;
            left: 62vh;
            height: 3.5%;
            z-index: 106;
          }
          &.dot2 {
            position: absolute;
            top: 59vh;
            left: 59vh;
            height: 3.5%;
            z-index: 106;
          }
        }
        .logo {
          position: absolute;
          top: 27vh;
          left: 66vh;
          height: 18.5%;
          z-index: 120;
        }
        .location {
          position: absolute;
          top: 0vh;
          left: 0vh;
          height: 4.5%;
          z-index: 106;
          &.GuangZhou {
            top: 32vh;
            left: 24vh;
          }
          &.HongKong {
            top: 73vh;
            left: 64vh;
          }
          &.HuiZhou {
            top: 33vh;
            left: 77vh;
          }
          &.Macao {
            top: 85vh;
            left: 36vh;
          }
          &.ShenZheng {
            top: 59vh;
            left: 62vh;
          }
          &.ZhuHai {
            top: 77vh;
            left: 35vh;
          }
        }
        // 大灣區生投控生態城
        .EnvironmentTown {
          position: absolute;
          top: 44vh;
          left: 73vh;
          height: 2.5%;
          z-index: 119;
        }
        // 贛深高速
        .HighWayText {
          position: absolute;
          top: 44vh;
          left: 56vh;
          height: 9.5%;
          z-index: 119;
        }
        // 深圳北
        .ShenZhenBei {
          position: absolute;
          top: 56.5vh;
          left: 60.5vh;
          height: 2%;
          z-index: 119;
        }
        // 塘廈站
        .TangXia {
          position: absolute;
          top: 38vh;
          left: 59vh;
          height: 2%;
          z-index: 119;
        }
      }
    }
    // 第三個分頁 (依照右側menu決定)
    &.traffic3 {
      width: 100%;
      height: 100%;
      position: absolute;

      // 圖片與icon的基準 (bg高度100%，其餘icon定位用vh，大小用height%)
      .innerContainer {
        position: relative;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;

        // 背景
        .bg {
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 100;
        }
        // 專案本體Logo
        .projectLogo {
          position: absolute;
          height: 6vh;
          top: 36vh;
          left: 46vh;
          z-index: 120;
        }

        // 綠化標示外容器 (跟背景圖同寬高)
        .greenContainer {
          border: 1px solid #000;
          position: absolute;
          z-index: 110;
          top: 0;
          left: 0;

          .noDisplay {
            display: none;
          }

          // 容器通用屬性 - 字+樹圖標
          .locationContainer {
            position: absolute;
            border: 1px solid red;
          }
          .treeIcon {
            position: absolute;
            height: 3vh;
            z-index: 115;
          }
          .text {
            position: absolute;
            height: 6vh;
            left: 2vh;
            top: -3vh;
            z-index: 110;
          }

          // 黃牛容器屬性
          .YellowCowPark {
            border: 1px solid #000;
            top: 45vh;
            left: 20vh;
          }

          // 大王容器 屬性
          .BigKing {
            border: 1px solid #000;
            top: 55vh;
            left: 60vh;
          }

          // 觀音容器屬性
          .God {
            border: 1px solid #000;
            top: 31vh;
            left: 44vh;
          }

          // 銀瓶容器屬性
          .Silver {
            border: 1px solid #000;
            top: 29vh;
            left: 81vh;
          }

          // 碧湖容器屬性
          .Lake {
            border: 1px solid #000;
            top: 72vh;
            left: 46vh;
          }

          // 清溪容器屬性
          .River {
            border: 1px solid #000;
            top: 31vh;
            left: 68vh;
          }
        }

        .noDisplay {
          display: none;
        }

        // 生活
        .lifeContainer {
          position: absolute;
          z-index: 110;
          top: 0;
          left: 0;
          border: 1px solid red;
          // 地點標示通用屬性
          .locationIcon {
            position: absolute;
            height: 4vh;
          }

          // 清溪醫院
          .lakeHospital {
            top: 33vh;
            left: 54vh;
            height: 6vh;
          }
          // 清溪公園
          .lakePark {
            top: 39vh;
            left: 54vh;
          }
          // 農業銀行
          .Bank {
            top: 43vh;
            left: 51vh;
          }
          // 觀光公園
          .travelPark {
            top: 60vh;
            left: 34vh;
          }
        }
        // 行政
        .govermentContainer {
          position: absolute;
          z-index: 110;
          top: 0;
          left: 0;
          border: 1px solid red;
          // 地點標示通用屬性
          .locationIcon {
            position: absolute;
            height: 4vh;
          }

          // 清溪政府
          .goverment {
            top: 35vh;
            left: 55vh;
            z-index: 125;
          }
          // 綜合服務中心
          .center {
            top: 40vh;
            left: 48vh;
          }
          // 公安局
          .police {
            top: 43vh;
            left: 52vh;
          }
          // 塘廈政府
          .tangGoverment {
            top: 46vh;
            left: 26vh;
          }
          // 鳳崗政府
          .birdGoverment {
            top: 68vh;
            left: 48vh;
          }
          // 電視台
          .tv {
            top: 38vh;
            left: 52vh;
          }
        }
        // 娛樂
        .entertainmentContainer {
          position: absolute;
          z-index: 110;
          top: 0;
          left: 0;
          border: 1px solid red;
          // 地點標示通用屬性
          .locationIcon {
            position: absolute;
            height: 4vh;
          }

          // 銀利高爾夫
          .silverGolf {
            top: 37vh;
            left: 34vh;
          }
          // 塘廈體育館
          .gym {
            top: 50vh;
            left: 24vh;
          }
          // 觀瀾高爾夫
          .seaWaveGolf {
            top: 52vh;
            left: 6vh;
          }
          // 生態體育公園
          .gymPark {
            top: 75vh;
            left: 6vh;
          }
          // 文化廣場
          .culture {
            top: 41vh;
            left: 54vh;
          }
        }
        // 商業
        .businessContainer {
          position: absolute;
          z-index: 110;
          top: 0;
          left: 0;
          border: 1px solid red;
          // 地點標示通用屬性
          .locationIcon {
            position: absolute;
            height: 4vh;
          }

          // 潤生百貨
          .bornShoppingMall {
            top: 35vh;
            left: 55.5vh;
          }
          // 商會大廈
          .bussinessBuilding {
            top: 37vh;
            left: 57vh;
          }
          // 昌明酒店
          .hotel {
            top: 39vh;
            left: 52vh;
          }
          // 嘉信廣場
          .ciaXin {
            top: 43vh;
            left: 57vh;
          }
          // 鹿湖商業中心
          .bussinessCenter {
            top: 38vh;
            left: 60vh;
          }
        }
        // 生活
        .educationContainer {
          position: absolute;
          z-index: 110;
          top: 0;
          left: 0;
          border: 1px solid red;
          // 地點標示通用屬性
          .locationIcon {
            position: absolute;
            height: 3vh;
          }

          // 晨光
          .morningLight {
            top: 35vh;
            left: 59vh;
          }
          // 華晨
          .huaCheng {
            top: 32vh;
            left: 60vh;
          }
          // 清溪中學
          .junior {
            top: 39vh;
            left: 59vh;
          }
          // 清溪小學
          .elementary {
            top: 41vh;
            left: 57vh;
          }
          // 師範
          .teacher {
            top: 44vh;
            left: 44vh;
          }
          // 初級
          .basic {
            top: 56vh;
            left: 43vh;
          }
        }
      }
    }
  }

  .bgImgPreload {
    border: 3px solid red;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    &.noDisplay {
      display: none;
    }
  }

  #boardCanvas {
    position: absolute;
    z-index: 13;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
  }

  // 右側選單
  .pager {
    // background-image: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
    position: absolute;
    width: 150px;
    height: 300px;
    bottom: 5%;
    right: 0;
    z-index: 130;
    ul {
      // border: 1px solid white;
      height: 100%;
      width: 100%;
      li {
        // border: 1px solid green;
        height: 33%;
        display: flex;
        padding: 2%;

        &.active {
          .pageNumberContainer {
            .number {
              opacity: 1;
              font-size: 3.5rem;
              // transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
              transition: all 1s cubic-bezier(0.02, 0.95, 0.17, 1);
            }
          }
          .pageName {
            .text {
              opacity: 1;
              transition: all 1s cubic-bezier(0.02, 0.95, 0.17, 1);
            }
          }
          .pageIndicator {
            &::after {
              opacity: 1;
              transition: all 1s cubic-bezier(0.02, 0.95, 0.17, 1);
            }
          }
        }

        // notActive
        .pageNumberContainer {
          // border: 1px solid blue;
          width: 65%;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          .number {
            // transform: scale(0.9, 0.9);
            opacity: 0.6;
            // color: $PrimaryRed;
            color: $PrimaryWhite;
            font-size: 1.5rem;
            transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
            // font-weight: 800;
          }
        }
        .pageName {
          // border: 1px solid blue;
          width: 25%;
          display: flex;
          align-items: center;
          justify-content: center; //水平
          .text {
            // border: 1px solid white;
            font-size: 1rem;
            opacity: 0.6;
            font-family: "Noto Sans TC", sans-serif;
            color: $PrimaryWhite;
            writing-mode: vertical-rl; //將整行文字垂直書寫
            text-orientation: mixed;
            transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
          }
        }
        .pageIndicator {
          // border: 1px solid blue;
          width: 10%;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          &::after {
            content: "";
            position: relative;
            display: block;
            // background-color: darken( $PrimaryWhite, 40%);
            background-color: $PrimaryWhite;
            opacity: 0.3;
            height: 100%;
            width: 30%;
            transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
          }
        }
      }
    }
  }

  // 左側選單
  .leftPager {
    // background-image: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
    position: absolute;
    width: 52.5px;
    height: 300px;
    bottom: 5%;
    left: 0;
    z-index: 130;
    opacity: 0;

    // 項目出現/隱藏的動畫
    li {
      opacity: 0;
      transform: translate(-100%, 0);
      transition-timing-function: cubic-bezier(0.125, 0.595, 0.315, 0.97);
      transition: all;
      transition-duration: 0.8s;
    }
    &.active {
      opacity: 1;
      li {
        @for $i from 1 through 5 {
          &:nth-child(#{$i}) {
            opacity: 1;
            transition: all;
            transition-duration: 0.8s;
            transition-delay: #{($i + 1) * 0.15}s;
            transition-timing-function: cubic-bezier(0.125, 0.595, 0.315, 0.97);
            transform: translate(0, 0);
          }
        }
      }
    }

    ul {
      // border: 1px solid white;
      height: 100%;
      width: 100%;
      li {
        // border: 1px solid green;
        height: 20%;
        display: flex;
        padding: 5.7%;

        &.active {
          .pageNumberContainer {
            .number {
              opacity: 1;
              font-size: 3.5rem;
              // transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
              transition: all 1s cubic-bezier(0.02, 0.95, 0.17, 1);
            }
          }
          .pageName {
            .text {
              opacity: 1;
              transition: all 1s cubic-bezier(0.02, 0.95, 0.17, 1);
            }
          }
          .pageIndicator {
            &::after {
              opacity: 1;
              transition: all 1s cubic-bezier(0.02, 0.95, 0.17, 1);
            }
          }
        }

        // notActive
        .pageNumberContainer {
          // border: 1px solid blue;
          width: 65%;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          .number {
            // transform: scale(0.9, 0.9);
            opacity: 0.6;
            // color: $PrimaryRed;
            color: $PrimaryWhite;
            font-size: 1.5rem;
            transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
            // font-weight: 800;
          }
        }
        .pageName {
          // border: 1px solid blue;
          width: 71.4%;
          display: flex;
          align-items: center;
          justify-content: center; //水平
          .text {
            // border: 1px solid white;
            font-size: 1rem;
            opacity: 0.6;
            font-family: "Noto Sans TC", sans-serif;
            color: $PrimaryWhite;
            writing-mode: vertical-rl; //將整行文字垂直書寫
            text-orientation: mixed;
            transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
          }
        }
        .pageIndicator {
          // border: 1px solid blue;
          width: 35%;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          &::after {
            content: "";
            position: relative;
            display: block;
            // background-color: darken( $PrimaryWhite, 40%);
            background-color: $PrimaryWhite;
            opacity: 0.3;
            height: 100%;
            width: 30%;
            transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
          }
        }
      }
    }
  }
}
