@import "../../variables.scss";

.NavigationBar {
  // border: 1px solid #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: $PrimaryRed;
  color: $PrimaryWhite;
  transform: translate(-100%, 0);
  transition: $NavigationBarTransition; //transition:property duration timing-function delay;

  a {
    color: $PrimaryWhite;
  }

  &.menuIsActive {
    transform: translate(0, 0);
    .menuList {
      li {
        transform: translate(0, 0);
        transition-delay: 0s; //進入此class時會看這個延遲
      }

      @for $i from 1 through 4 {
        li:nth-child(#{$i*2-1}) {
          opacity: 1;
          transition-delay: #{$i*0.14}s;
          transition-timing-function: cubic-bezier(0.125, 0.595, 0.315, 0.970);
        }
      }
      // li:nth-child(1) {
      //   opacity: 1;
      //   transition-delay: 0.1s;
      // }
      // li:nth-child(3) {
      //   opacity: 1;
      //   transition-delay: 0.2s;
      // }
      // li:nth-child(5) {
      //   opacity: 1;
      //   transition-delay: 0.3s;
      // }
      // li:nth-child(7) {
      //   opacity: 1;
      //   transition-delay: 0.4s;
      // }
    }
    .bottom {
      transform: translate(0, 0);
      transition-delay: 0s; //進入此class時會看這個延遲
      opacity: 1;
      transition-delay: #{5*0.14}s;
      transition-timing-function: cubic-bezier(0.125, 0.595, 0.315, 0.970);
    }
  }

  .menuIcon {
    position: fixed;
    top: 3.5vh;
    left: 5.5vw;
    width: 40px;
    height: 40px;

    // Menu開啟時
    &.active .hamburger {
      &:before {
        top: -1px;
        left: -20px;
        transform: rotate(45deg);
      }
      &:after {
        bottom: -1px;
        left: -20px;
        transform: rotate(-45deg);
      }
    }
    // Menu關閉時
    .hamburger {
      background-color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); //translate僅具x,y位移作用
      &:before,
      &:after {
        content: "";
        position: absolute;
        width: 40px;
        height: 2px;
        background-color: $PrimaryWhite;
        transition: $NavigationBarTransition; //transition:property duration timing-function delay;
      }
      &:before {
        top: -6px;
        left: -20px;
      }
      &:after {
        bottom: -6px;
        left: -20px;
      }
    }
  }

  .logo {
    font-family: "Martel", serif;
    font-size: 2rem;
    font-weight: 200;
    position: fixed;
    top: 3.5vh;
    right: 5.5vw;
  }

  .menuList {
    transition: $NavigationBarTransition;

    margin: 0;
    padding: 0;
    position: relative;
    top: 43vh;
    margin-right: 5.5vw;

    display: flex;
    justify-content: flex-end; //水平對齊
    align-items: flex-end; //垂直對齊
    flex-wrap: wrap;

    .lineBreak {
      width: 100%;
    }

    li {
      opacity: 0;
      transform: translate(-125%, 0);
      transition: $NavigationBarTransition;
      transition-delay: 0.7s; //進入此class時會看這個延遲

      display: flex;
      justify-content: flex-end; //水平對齊
      align-items: flex-end; //垂直對齊
      flex-wrap: wrap;
      margin: 0.2vh;

      div {
        width: 100%;
        text-align: right;
      }

      .menuNameCN {
        font-family: "Noto Sans TC", sans-serif;
        font-weight: 600;
        font-size: 2.35rem;
        line-height: 2.7rem;
      }

      .menuNameEn {
        font-family: "Martel", serif;
        font-weight: 200;
        line-height: 1.1rem;
        letter-spacing: 3px;
      }
    }
  }

  .bottom {
    opacity: 0;
    transform: translate(-125%, 0);
    transition: $NavigationBarTransition;
    transition-delay: 0.7s; //進入此class時會看這個延遲

    position: absolute;
    bottom: 3vh;
    right: 6.5vw;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 12px;
    font-weight: 600;

    span {
      margin-left: 3vw;
    }
  }
}
