@import "../../variables.scss";
$lastPageFadeOutTime: 0.6s;

.componentChangeCSSTransition-enter {
  .TestPlaygroundContainer {
    .mainContent {
      .pager {
        .pageNumber {
          opacity: 0;
          transform: translate(-50%, 0);
        }
        .arrow {
          opacity: 0;
          transform: translate(-100%, 0);
        }
      }
      .contentContainer {
        .title {
          opacity: 0;
          transform: translate(0, 100%) scale(1, 0.8);
        }
        .topIntroText {
          div {
            &:nth-child(1) {
              opacity: 0;
              transform: translate(0, 100%);
            }
            &:nth-child(2) {
              opacity: 0;
              transform: translate(0, 100%);
            }
            &:nth-child(3) {
              opacity: 0;
              transform: translate(0, 100%);
            }
          }
        }
        .watchProjectBarContainer {
          opacity: 0;
          transform: translate(0, 20%);
        }
        .mainIntroTextContainer {
          opacity: 0;
          transform: translate(0, 10%);
        }
      }
    }
  }
}

.componentChangeCSSTransition-enter.componentChangeCSSTransition-enter-active {
  .TestPlaygroundContainer {
    .mainContent {
      .pager {
        .pageNumber {
          opacity: 1;
          transform: translate(0, 0);
          transition: all 0.8s cubic-bezier(0.19, 0.15, 0.59, 0.99) 0.6s;
        }
        .arrow {
          opacity: 1;
          transform: translate(0, 0);
          transition: all 0.8s cubic-bezier(0.19, 0.15, 0.59, 0.99) 0.9s;
        }
      }
      .contentContainer {
        .title {
          opacity: 1;
          transform: translate(0, 0) scale(1, 0.8);
          transition: all 0.8s cubic-bezier(0.19, 0.15, 0.59, 0.99)
            $lastPageFadeOutTime + 0.1s;
        }
        .topIntroText {
          div {
            &:nth-child(1) {
              opacity: 1;
              transform: translate(0, 0);
              transition: all 0.7s cubic-bezier(0.19, 0.15, 0.59, 0.99)
                $lastPageFadeOutTime + 0.35s;
            }
            &:nth-child(2) {
              opacity: 1;
              transform: translate(0, 0);
              transition: all 0.7s cubic-bezier(0.19, 0.15, 0.59, 0.99)
                $lastPageFadeOutTime + 0.5s;
            }
            &:nth-child(3) {
              opacity: 1;
              transform: translate(0, 0);
              transition: all 0.7s cubic-bezier(0.19, 0.15, 0.59, 0.99)
                $lastPageFadeOutTime + 0.65s;
            }
          }
        }
        .watchProjectBarContainer {
          opacity: 1;
          transform: translate(0, 0);
          transition: all 0.8s cubic-bezier(0.19, 0.15, 0.59, 0.99)
            $lastPageFadeOutTime + 0.8s;
        }
        .mainIntroTextContainer {
          opacity: 1;
          transform: translate(0, 0);
          transition: all 0.8s cubic-bezier(0.19, 0.15, 0.59, 0.99)
            $lastPageFadeOutTime + 0.95s;
        }
      }
    }
  }
}

.componentChangeCSSTransition-exit {
  .TestPlaygroundContainer {
    background-color: transparent;
    pointer-events: none;
  }
}

.componentChangeCSSTransition-exit.componentChangeCSSTransition-exit-active {
  .TestPlaygroundContainer {
    .mainContent {
      .pager {
        opacity: 0;
        transform: scale(1.3);
        transition: all 1.5s $PrimaryTimeFunction;
      }
      .contentContainer {
        .title {
          opacity: 0;
          transform: translate(0, 100%);
          transition: all 1.5s $PrimaryTimeFunction 0.3s;
        }
        .topIntroText {
          opacity: 0;
          transform: translate(0, 100%);
          transition: all 1.5s $PrimaryTimeFunction 0.35s;
          div {
            &:nth-child(1) {
              opacity: 0;
              transform: translate(0, 70%);
              transition: all 1.5s $PrimaryTimeFunction 0.4s;
            }
            &:nth-child(2) {
              opacity: 0;
              transform: translate(0, 70%);
              transition: all 1.5s $PrimaryTimeFunction 0.43s;
            }
            &:nth-child(3) {
              opacity: 0;
              transform: translate(0, 70%);
              transition: all 1.5s $PrimaryTimeFunction 0.46s;
            }
          }
        }
        .watchProjectBarContainer {
          opacity: 0;
          transform: translate(0, 70%);
          transition: all 1.5s $PrimaryTimeFunction 0.5s;
        }
        .mainIntroTextContainer {
          opacity: 0;
          transform: translate(0, 70%);
          transition: all 1.5s $PrimaryTimeFunction 0.53s;
        }
      }
    }
  }
}

.TestPlaygroundContainer {
  background-color: $PrimaryWhite;
  position: relative;
  width: 100vw;
  overflow-x: hidden;

  .mainContent {
    min-height: 100%;
    width: 100vw;
    padding: 0 3vh 5.5vw;
    .pager {
      position: relative;
      div {
        display: inline-block;
      }
      .pageNumber {
        padding-top: 100px;
        .currentPage {
          font-family: "Raleway", sans-serif;
          color: $PrimaryRed;
          font-weight: 800;
          font-size: 30px;
        }
        .slash {
          font-family: "Martel", serif;
          color: $PrimaryBlack;
          font-weight: 900;
          font-size: 17px;
        }
        .totalPages {
          font-family: "Raleway", sans-serif;
          -webkit-text-fill-color: transparent;
          -webkit-text-stroke-color: $PrimaryBlack;
          -webkit-text-stroke-width: 1px;
          font-weight: 800;
          font-size: 17px;
        }
      }

      .arrow {
        padding-top: 100px;
        display: inline-block;
        font-size: 30px;
        color: transparent;
        -webkit-text-stroke: 0.8px;
        -webkit-text-stroke-color: $PrimaryBlack;
        position: absolute;
        right: 0;
      }
    }

    .contentContainer {
      margin-top: 3vh;
      color: $PrimaryBlack;
      .videoContainer {
        height: 30vh;
      }
      .title {
        margin-top: 2vh;
        -webkit-text-stroke: 2px;
        font-size: 2.5rem;
        font-weight: 800;
        -webkit-text-stroke-color: $PrimaryRed;
        -webkit-text-fill-color: transparent;
        text-transform: uppercase; //全大寫uppercase 全小寫lowercase 單字第一字母大寫capitalize
        transform: scale(1, 0.8);
      }
      .topIntroText {
        margin-top: 3vh;
        div {
          margin-bottom: 1vh;
          font-size: 0.9rem;
          font-weight: bold;
          color: $PrimaryBlack;
          font-family: "Raleway", sans-serif;
        }
      }
      .watchProjectBarContainer {
        padding: 5vh 0;
        display: flex;
        align-items: center;
        .icon {
          display: inline-block;
          height: 8vh;
          width: 8vh;
          margin-right: 5.5vw;
        }
        .watchProjectText {
          display: inline-block;
          font-family: "Raleway", sans-serif;
          font-weight: 900;
          font-size: 1rem;
        }
      }
      .mainIntroTextContainer {
        font-size: 0.9rem;
        font-weight: bold;
        color: $PrimaryBlack;
        font-family: "Raleway", sans-serif;
        .madeByContainer {
          margin-top: 5vh;
          .madeBy {
            margin-bottom: 4vh;
            font-weight: 900;
            .madeByPerson {
              margin-top: 0.8vh;
              font-weight: 700;
            }
          }
        }
      }
      .imagesContainer {
        margin-top: 3vh;
        height: 100vh;
        position: relative;
        div {
          display: inline-block;
        }

        img {
          width: 100%;
        }

        .fixedImage {
          width: 45%;
          position: absolute;
          overflow: hidden;
          &.fixedImage1 {
            right: 70%;
            width: 0;
            opacity: 0;
            transition: all 1.3s cubic-bezier(0.78, 0.02, 0.69, 0.92) 0s; //transition:property duration timing-function delay;
            img {
              width: 39vw;
              transform: scale(1.2);
              transition: all 1.3s cubic-bezier(0.31, 0.08, 0.22, 0.98) 0s; //transition:property duration timing-function delay;
            }
            &.active {
              right: 0;
              width: 45%;
              opacity: 1;
              img {
                transform: scale(1);
                transition: all 1.3s cubic-bezier(0.31, 0.08, 0.22, 0.98) 0s; //transition:property duration timing-function delay;
              }
              transition: all 1.3s cubic-bezier(0.31, 0.08, 0.22, 0.98) 0s; //transition:property duration timing-function delay;
            }
          }
          &.fixedImage2 {
            left: 75%;
            top: 25%;
            z-index: 1;
            width: 0;
            height: 15vh;
            opacity: 0;
            transition: all 1.3s cubic-bezier(0.78, 0.02, 0.69, 0.92) 0s; //transition:property duration timing-function delay;
            img {
              position: absolute;
              right: 0;
              width: 39vw;
              transform: scale(1.2);
              transition: all 1.3s cubic-bezier(0.31, 0.08, 0.22, 0.98) 0s; //transition:property duration timing-function delay;
            }
            &.active {
              width: 45%;
              img {
                transform: scale(1);
                transition: all 1.3s cubic-bezier(0.31, 0.08, 0.22, 0.98) 0s; //transition:property duration timing-function delay;
              }
              left: 2.5%;
              opacity: 1;
              transition: all 1.3s cubic-bezier(0.31, 0.08, 0.22, 0.98) 0s; //transition:property duration timing-function delay;
            }
          }
          &.fixedImage3 {
            top: 75%;
            z-index: 1;
            left: -30px;
            width: 0;
            opacity: 0;
            transition: all 1.3s cubic-bezier(0.78, 0.02, 0.69, 0.92) 0s; //transition:property duration timing-function delay;
            img {
              width: 39vw;
              transform: scale(1.2);
              transition: all 1.3s cubic-bezier(0.31, 0.08, 0.22, 0.98) 0s; //transition:property duration timing-function delay;
            }
            &.active {
              width: 45%;
              left: 0;
              opacity: 1;
              img {
                transform: scale(1);
                transition: all 1.3s cubic-bezier(0.31, 0.08, 0.22, 0.98) 0s; //transition:property duration timing-function delay;
              }
              transition: all 1.3s cubic-bezier(0.31, 0.08, 0.22, 0.98) 0s; //transition:property duration timing-function delay;
            }
          }
        }
        .movingImageContainer1 {
          width: 100%;
          position: absolute;
          top: 7%;
          display: flex;
          justify-content: center;
          .scrollPercentageContainer {
            display: inline-block;
            width: 75%;
            overflow: hidden;
            .movingImage {
              width: 100%;
            }
          }
        }
        .movingImageContainer2 {
          width: 100%;
          position: absolute;
          top: 50%;
          // display: flex;
          // justify-content: center;
          .scrollPercentageContainer {
            display: inline-block;
            width: 90%;
            overflow: hidden;
            left: 10%;
            position: relative;
            .movingImage {
              width: 100%;
            }
          }
        }
      }

      .bottom {
        position: relative;
        margin-top: 2vh;
        div {
          text-align: center;
          text-transform: uppercase;
          margin-bottom: 5vh;
        }
        .nextText {
          -webkit-text-stroke: 2px;
          font-size: 2.5rem;
          font-weight: 800;
          -webkit-text-stroke-color: $PrimaryBlack;
          -webkit-text-fill-color: transparent;
          transform: scale(1, 0.7) translate(0, 200%);
          opacity: 0;
          transition: all 1s ease-out 0s;
          &.active {
            opacity: 1;
            transform: scale(1, 0.7) translate(0, 0);
            transition: all 1s ease-out 0s;
          }
        }
        .backToOverviewText {
          font-size: 1.2rem;
          font-weight: 800;
          -webkit-text-stroke-color: $PrimaryBlack;
          margin-bottom: 6vh;
          transform: scale(1, 0.8) translate(0, 200%);
          opacity: 0;
          transition: all 1s ease-out 0s;
          &.active {
            opacity: 1;
            transform: scale(1, 0.8) translate(0, 0);
            transition: all 1s ease-out 0.5s;
          }
        }
      }
    }
  }
}
