$PrimaryRed: #D92040;
$PrimaryWhite: #FBF7F3;
$PrimaryGray: #E1E1E1;
$PrimaryBlack: #404749;
$NavigationBarTransition: all 0.6s cubic-bezier(0.125, 0.595, 0.315, 0.970);
$PrimaryTimeFunction: cubic-bezier(0.125, 0.595, 0.315, 0.970);